@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    font-size: 2em;
}

#c, #ui, .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ui {
	z-index: 1;
}

#user-info {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	z-index: 1;
}

button {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	outline: none;
	z-index: 10;
	background-color: #464950;
	color: ghostwhite;
	border-radius: 2px 5px;
	border: 1px solid ghostwhite;
	font-size: 10rem;
	transition: 200ms all;
}

button:hover, button:focus {
	cursor: pointer;
	padding-left: 3rem;
	padding-right: 3rem;
	border: 3px solid ghostwhite;
}

button:active {
	outline: none;
}

#pause-menu {
	display: none;
}

#score {
	position: fixed;
	left: 2rem;
	top: 2rem;
}

.center {
	z-index: 2;
	font-size: 5vh;
}

a {
	position: fixed;
	top: 15px;
	right: 50%;
	z-index: 15;
	color: ghostwhite;
}