<!DOCTYPE html>

<html lang="en">

    <head>
        
		<%-include("./components/head", {title: "Escape Elmo Game"})%>

		<script type="module" src="/scripts/script.js"></script>
		
    </head>

    <body>
		
		<%-include("./components/noscript.ejs")%>

		<main>
		
			<div id="user-info"></div>
			<div class="center">
				<div id="chilc"></div>
				<div id="pause-menu">
					<button id="resume">Resume</button>
					<div id="sensitivity">
						<p>Sensitivity: </p>
						<input type="range" min="1" max="150" value="100" class="slider"> 
					</div>
				</div>
			</div>
			<canvas id="c"></canvas>
			<canvas id="ui"></canvas>

		</main>
	</body>
</html>