<!DOCTYPE html>
<html lang="en">
	<head>
	
		<%- include("./components/head", { title: "Login" }) %>
		
	</head>
	
	<body>
		
		<%- include("./components/noscript") %>

		<main>
		
			<button class="login">Login with Replit</button>
			<script type="module" src="/scripts/logio.mjs"></script>

		</main>

	</body>
</html>