<!DOCTYPE html>
<html lang="en">
	<head>
	
		<%- include("./components/head", { title: "Login" }) %>
		
	</head>
	
	<body>
		
		<%- include("./components/noscript") %>

		<main>
		
			<button class="login">Login with Replit (used for leaderboard only)</button>
			<script type="module" src="/scripts/logio.js"></script>
			<a href="/loggedout">Play without logging in here</a>

		</main>

	</body>
</html>