<meta charset="UTF-8">

<meta name="description" content="A parkour game where you run away from elmo">

<meta name="author" content="Abhay Bhat, Daksh Gupta">

<meta name="keywords" content="game, elmo, sesame street, parkour, obby, repl, replit">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%=title%></title>

<link rel="stylesheet" href="/styles/style.css">

<link rel="shortcut icon" href="/favicon.ico">